:root{
    --text:#000000;
    --bg: #EEFBED;
    --secondary-bg: #589B98;
    --nav-active: #4DAD48;
    --nav-hover: #36817E;
    --nav-oow-bg: #CDEE88;
    --nav-oow-hover: #A2C753;
}

body{
    margin: 0;
    background-color: var(--bg);
}

.container{
    min-height: 100vh;
    width: 100%;
    padding: 0;
}

header h1, header h2 {
    width: 100%;
    min-height: 5vh;
    text-align: center;
    margin: 1%;
}

header h1{
    font-size: 3em;
}

header h2{
    font-size: 2em;
}

.navbar-light, .dropdown-menu, .dropdown-menu.show{
    background-color: var(--secondary-bg);
}

.navbar-light{
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav .active {
    background-color: var(--nav-active);
}

.nav-link{
    height:100%;
    padding: 0.5rem, 1rem;
}

.nav-link:hover, .dropdown-item:hover{
    background-color: var(--nav-hover);
}

.outofwebsite {
    background-color: var(--nav-oow-bg);
}

.outofwebsite a:hover {
    background-color: var(--nav-oow-hover);
}


.home, .about, .projects{
    margin: 50px;
    min-height: 100vh;
}

footer {
    background-color: var(--secondary-bg);
    width: 100%;
    height: 5%;
    text-align: center;
}

footer p{
    margin: 0;
    padding: 16px;
}

footer p, footer a{
    vertical-align: bottom;
    color: var(--text);
}

footer a:visited{
    color: var(--text);
}