#SettingsBar {
  min-height: 2rem;
}

#SettingsBar p {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: auto;
  padding-bottom: auto;
  cursor: pointer;

}

#SettingsBar img {
  max-height: 2rem;
  max-width: auto;
  margin-left: 1rem;
}