.bg-lightgray {
  background-color: #666582;
}

/* .dropdown-menu {
  background-color: #343a40 !important;
} */

nav .dropdown-menu {
  background-color: #343a40;
}

nav .dropdown-divider {
  border-color: rgba(255,255,255,.5);
}

nav .dark {
  background-color: #343a40;
  color: rgba(255,255,255,.5);
}