.bg-lightgray {
  background-color: #666582;
}

.mynavbar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}