body {
  background: rgb(102,101,130);
  background: linear-gradient(90deg, rgba(102,101,130,1) 0%, rgba(234,234,247,1) 15%, rgba(234,234,247,1) 85%, rgba(102,101,130,1) 100%);
}

.App {
  text-align: center;
}

.mw12 {
  max-width: 195rem;
}